.container {
	display: flex;
}
.shareButton {
	width: 20px;
	height: 20px;
	display: none;
}
@media (max-width: 1024px) {
	.shareButton {
		display: none;
	}
}
@media (max-width: 320px) {
	.shareButton {
		display: block;
	}
}

.saveButton {
	width: 20px;
	height: 20px;
	display: none;
}
@media (max-width: 1024px) {
	.saveButton {
		display: none;
	}
}
@media (max-width: 320px) {
	.saveButton {
		display: block;
		margin-left: 15px;
	}
}