.metaData {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-size: 14px;	
	line-height: 12px;
	order: 2;
}
@media (max-width: 1024px) {
	.metaData {
		order: 2;
	}
}
@media (max-width: 320px) {
	.metaData {
		order: 0;
	}
}
.userLink {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 20px;
	order: 2;
	margin-left: 6px;	
}
@media (max-width: 1024px) {
	.userLink {
		order: 2;
		margin-left: 6px;
	}
}
@media (max-width: 320px) {
	.userLink {
		order: 0;
		margin-left: 0;
		margin-right: 6px;
	}
}


.public {
	display: block;
}
@media (max-width: 1024px) {
	.public {
		display: block;
	}
}
@media (max-width: 320px) {
	.public {
		display: none;
	}
}


.avatar {
	border-radius: 20px;
	width: 20px;
	height: 20px;
	margin: 0 7px 0 0;
}
.userName {
	color: var(--orange);
}
.createdAt, .createdAt * {
	color: var(--grey99);
}
@media (max-width: 1024px) {
	.createdAt {
	   white-space: nowrap;
    }
}