.commentsButton {
	align-items: normal;
	display: none;
}
@media (max-width: 1024px) {
	.commentsButton {
	    display: none;
    }
}
@media (max-width: 320px) {
	.commentsButton {
	    display: flex;
    }
}


.commentsButton * {
	color: var(--greyC4);
}
.commentsNumber {
	padding: 0 0 0 6px;
	font-size: 12px;
	line-height: 14px;
}
