.cardList {
	border: 1px solid #000000;
}
.cardList {
	padding-left: 60px;
	padding-right: 57px;
	padding-bottom: 60px;
}
@media (max-width: 1024px) {
	.cardList {
		padding-left: 40px;
		padding-right: 37px;
		padding-bottom: 40px;
	}
}
@media (max-width: 320px) {
	.cardList {
		padding: 0;
	}
}